@import '../../static/css/common.scss';

#root {
    /* size variables */
    --main-size-full: 95%;
    --main-size: 70%;
    --sidebar-size-full: 30%;
    --sidebar-size: 5%;

    /* color variables */
    --primary-color: #2D807A;
    --primary-color-light: #69AD9D;
    --secondary-color: #D28C85;
    --secondary-color-light: #D6BBB0;
    --secondary-color-dark: #D09484;

    --border-color: #d6d6d6;

    --background-hover-color: rgba(0, 0, 0, .3);

    --light-color: #f1f1f1;
    --dark-color: #060630;

    /* common css */
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
    height: 100vh;
    width: 100vw;
}

* {
    font-family: 'Candara', 'Calibri', 'Segoe', 'Segoe UI', 'Optima', Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;

    &::-webkit-scrollbar {
        display: block;
        width: 8px;
        height: 8px;
    
        &-button {
            display: none;
        }
    
        &-track {
            background-color: #00000000;
    
            &-piece {
                background-color: #00000000;
            }
        }
    
        &-thumb {
            background-color: #00000040;
            border: 1px solid #ffffff40;
            border-radius: 24px;
        }
    }

}