/* size variables */
$main-size-full: 95%;
$main-size: 70%;
$sidebar-size-full: 30%;
$sidebar-size: 5%;

$small-size: 40px;
$small-size-extra: 20px;
$font-size: 16px;
$font-size--big: 24px;
$font-size--extra: 40px;
$font-size--small: 12px;

/* color variables */

$primary-color: #5bb85d;
$primary-color--light: #7FC78C;
$primary-color--dark: #449C46;
$secondary-color: #D4A350;
$secondary-color--light: #FFDA84;
$secondary-color--dark: #9A6F1D;

$border-color: #d6d6d6;
$border-color--light: #ededed;
$border-color--dark: #b0b0b0;

$hover-light-color: #eff2f5;
/* $hover-color: #eff2f5; */
$hover-color: #d0d9e1;

$background-hover-color: rgba(0, 0, 0, .3);

$light-color: #f9fafc;
$dark-color: #060630;
$gray-color: #aaa;
